<ul class="nav nav-pills">
  <li role="presentation"><%= link_to "Home", root_path%></li>
  <li role="presentation" class="active"><%= link_to "View Tweets", tweets_path%></li>
  <li role="presentation"><%= link_to "New Tweet", new_tweet_path%></li>
</ul>

<div class="jumbotron text-center">
  <h1>Tweet feed</h1>
</div>


  <% @tweets.each do |tweet| %>
    <div class="panel panel-default tweet margin">
      <div class="panel-heading tweet">
        <h3 class="panel-title tweet"><%= tweet.handle %></h3>
      </div>
      <div class="panel-body tweet">
        <%= tweet.created_at.localtime.strftime(" %I:%M %P %b, %-d, %Y") %>
        <br>
        <%= tweet.content %>
        <p> <%= link_to "View", tweet_path(tweet)%></p>
      </div>
    </div>
  <% end %>






