<ul class="nav nav-pills">
  <li role="presentation"><%= link_to "Home", root_path%></li>
  <li role="presentation" class="active"><%= link_to "View Tweets", tweets_path%></li>
  <li role="presentation"><%= link_to "New Tweet", new_tweet_path%></li>
</ul>

<div class="jumbotron text-center">
  <h1>Tweets</h1>
</div>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <strong> <%= tweet.handle %></strong>
      <p> <%= tweet.content %> </p>

      <%= tweet.created_at.localtime.strftime(" %I:%M %P %b, %-d, %Y") %>

      <p> <%= link_to "View", tweet_path(tweet)%></p>
    </li>
  <% end %>



</ul>
